[submodule "src/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/cpptoml"]
	path = lib/cpptoml
	url = https://github.com/skystrife/cpptoml
[submodule "lib/libssh"]
	path = lib/libssh
	url = https://github.com/rroohhh/libssh.git
#	url = https://git.libssh.org/projects/libssh.git
[submodule "lib/libedit"]
	path = lib/libedit
	url = https://github.com/rroohhh/libedit.git
